  <div class = "group"> 
    <div class="group-header">
      <div>
        <h2> <strong> <%= group.title %> </strong> </h2> 
      </div>

      <div class="group-btn-group" role="group" style="display: flex;">
        <%= link_to "Edit", 
            edit_group_path(@group.id), 
            data: { turbo_method: "get" }, 
            class: 'btn btn-sm btn-primary'%> 

        <%= link_to "Add a procedure", 
            new_group_procedure_path(@group),
            class: 'btn btn-sm btn-success mx-1' %>
        
        <%= button_to "Destroy this group", 
            @group, 
            method: :delete, 
            class: 'btn btn-sm btn-danger' %>
      </div>

    </div> 
    <div class="procedures" data-controller="groups"> 
      <% group.procedures.each_with_index do |procedure, index| %> 
        <%= render procedure, index: index %>
      <%end%>        
    </div>
  </div>
