
  <div class = "group"> 
    <div class="group-header">
      <div>
        <h2> <strong> <%= group.title %> </strong> </h2> 
      </div>

      <div class="group-btn-group" role="group">
        <%= link_to "Edit", 
            edit_group_path(@group.id), 
            data: { turbo_method: "get" }, 
            class: 'btn btn-sm btn-primary'%> 

        <%= link_to "Add a procedure", 
            new_group_procedure_path(@group),
            class: 'btn btn-sm btn-success mx-1' %>
        
        <%= button_to "Destroy this group", 
            @group, 
            method: :delete, 
            class: 'btn btn-sm btn-danger' %>
      </div>

    </div> 
    <div class="group-procedures" data-controller="groups"> 
      <% group.procedures.each_with_index do |procedure, index| %> 
        <%= render procedure, index: index %>
      <%end%> 
      <div  class = "group-card" 
            data-group-target = "procedure" 
            id = "<%= group.procedures.count %>"
            style = "display: none;"> 
        <h4><strong>New board</strong></h4> 
        <div class="group-input">
          <%= form_with model: [group, group.procedures.build ] do |form| %>
            <div>
              <%= form.text_field :title, class: 'new-procedure-name' %>
            </div>

            <div class='new-procedure-btn'>
              <%= form.submit :Submit, class: 'btn btn-primary btn-sm' %>
            </div>
          <% end %>
        </div> 
      </div>            
    </div>
  </div>
