<%= form_with model: [@group, @procedure, stage] do |form| %>
  <% if stage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stage.errors.count, "error") %> prohibited this stage from being saved:</h2>

      <ul>
        <% stage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div style = "display: none" >
    <%= form.label :procedure_id %>
    <%= form.text_field :procedure_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
