<div class="cardy" style="display: none;">
  <div class="face face1">
    <div class="stage-card_header">
      <%= link_to '<', 
        stage_previous_path(
          stage.procedure.group.id,
          stage.procedure.id,
          stage), 
        class: 'btn btn-sm btn-primary' %>
      <h4>
        <strong><%= stage.title %></strong>
      </h4>
      <%= button_to '>', 
          stage_next_path(
            stage.procedure.group.id,
            stage.procedure.id,
            stage), 
          class: 'btn btn-sm btn-primary btn-stage' %> 
    </div>
    <div class="stage-card_footer">  
      <%= link_to 'Edit', 
          edit_group_procedure_stage_path(
            stage.procedure.group.id,
            stage.procedure.id,
            stage), 
          data: { turbo_method: "get" }, 
          class: 'btn btn-sm btn-primary'%>
      <%= link_to "Destroy",
          group_procedure_stage_path(
            stage.procedure.group.id,
            stage.procedure.id,
            stage.id), 
          data:{
            turbo_method: "delete",
            turbo_confirm: "Are you sure?"}, 
          class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
  <div class="face face2">
    <div class="projects">
      <% stage.projects.each do |project| %>
        <%= render project %>
      <% end %>
    </div>

  </div>
</div>


<div class="stage-card">
  <div class="stage-card-header">
    <div class="row align-items-center justify-content-md-center">
      <div class="col-2">
        <%= link_to '<', 
          stage_previous_path(
            stage.procedure.group.id,
            stage.procedure.id,
            stage), 
          class: 'btn btn-sm btn-primary' %>
      </div>
      <div class="col-md-auto justify-content-center">
        <h4>
          <strong><%= stage.title %></strong>
        </h4>
      </div>
      <div class="col-2">
        <%= button_to '>', 
            stage_next_path(
              stage.procedure.group.id,
              stage.procedure.id,
              stage), 
            class: 'btn btn-sm btn-primary btn-stage' %> 
      </div>
    </div>
    <div class="row align-items-center justify-content-md-center">  
      <%= link_to 'Edit', 
          edit_group_procedure_stage_path(
            stage.procedure.group.id,
            stage.procedure.id,
            stage), 
          data: { turbo_method: "get" }, 
          class: 'btn btn-sm btn-primary col-4'%>
      <%= link_to "Destroy",
          group_procedure_stage_path(
            stage.procedure.group.id,
            stage.procedure.id,
            stage.id), 
          data:{
            turbo_method: "delete",
            turbo_confirm: "Are you sure?"}, 
          class: 'btn btn-sm btn-danger col-4' %>
    </div>
  </div>
  <div class="stage-card-body">
    <div class="projects">
      <% stage.projects.each do |project| %>
        <div class="stage-project row align-items-center justify-content-md-center mb-1" 
       id="project-<%= project.id%>-<%=project.procedure.id%>">
          <%= render project %>
        </div>
      <% end %>
    </div>
  </div>
</div>