<p style="color: green"><%= notice %></p>

<h4 class="group-title">
  <strong id=<%= @procedure.group.id%>-<%=@procedure.id%>>
    <%= @procedure.title%>
  </strong>
</h4>

<div>
  <%= link_to 'Edit', 
      edit_group_procedure_path(@procedure.group.id, @procedure.id), 
      data: { turbo_method: "get" }, 
      class: 'btn btn-sm btn-primary'%>

  <%= link_to 'Create a project', 
      new_group_procedure_path(@procedure.group.id, @procedure.id), 
      data: { turbo_method: "get" }, 
      class: 'btn btn-sm btn-success'%>       

  <%= link_to 'Destroy', 
      group_procedure_path(@procedure.group.id,@procedure.id), 
      data: { turbo_method: "delete",
          action: "click->groups#destroyProcedure" }, 
      class: 'btn btn-sm btn-danger' %>
</div>

<div class="stages">
  <% @stages.each do |stage| %>
    <%= render stage %>
  <% end %>
</div>

  <%= link_to 'Add a stage', 
      new_group_procedure_stage_path(@procedure.group.id, @procedure.id), 
      data: { turbo_method: "get"}, 
      class: 'btn btn-sm btn-success' %>